---
const today = new Date();
---

<footer>
  <div class="social-links">
    <a href="https://x.com/hernanespn" aria-label="X">
      <i class="fab fa-x-twitter" aria-hidden="true"></i> X
    </a>
    <a
      href="https://www.instagram.com/lafieradeportiva/?hl=en"
      aria-label="Instagram"
    >
      <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> INSTAGRAM
    </a>
    <a href="https://www.youtube.com/user/hernancitohesjr" aria-label="YouTube">
      <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YOUTUBE
    </a>
  </div>
  <div class="copyright">
    &copy; {today.getFullYear()} La Fiera Deportiva. Created by Midway Web Design.
  </div>
</footer>

<style>
  /* Keep the existing styles and add yours as needed */

  .social-links {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .social-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .copyright {
    display: flex;
    justify-content: center;
  }
</style>
